//Breakpoints
$mobile: 23.5em;
$laptop: 64em;
$desktop: 160em;

//Primary Colors
$orange: hsl(25, 97%, 53%);

//Neutral Colors
$white: #ffffff;
$lightGrey: #959eac;
$mediumGrey: #7c8798;
$buttonGrey: #363c44;
$darkBlue: #252d37;
$contrast: #171e28;
$veryDarkBlue: #121417;

//Fonts
$overpass: "Overpass", sans-serif;
